<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="Application" factoryName="Application" nameIsGenerated="true">
    <option name="MAIN_CLASS_NAME" value="org.testdouble.App" />
    <module name="bank-ocr-kata" />
    <option name="PROGRAM_PARAMETERS" value="./input.txt" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="org.testdouble.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>